<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand">Estudo</span>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                {{links}}
            </ul>

            <div class="d-flex justify-content-end" style="width: 100%;">
                <a href="{{URL}}/logout">
                    <button type="button" class="btn">Sair</button>
                </a>
            </div>
        </div>
    </div>
</nav>